* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}



@media only screen and (min-width: 800px) {
    .tabla {
        border: 2px solid black;
    }

    .titulo_tabla {
        padding: 20px 0;
        border: 1px solid black;
    }

    .contenido_tabla {
        display: grid;
        grid-template-columns: 50px 250px 1fr;
    }

    /* .column {
        width: 100%;
        display: grid;
        grid-template-rows: 50px repeat(auto-fit, 90px);
        border: 1px solid red;
    } */

    .column {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .column>strong {
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: rgb(208, 208, 208);
    }

    .column_fields {
        overflow-x: auto;
    }

    .field_inputs {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(auto-fit, 200px);
    }



    .info,
    .field,
    strong {
        display: flex;
        align-items: center;
        width: 100%;
        height: 60px;
        border: 1px solid rgb(85, 85, 85);
        
    }

    .field{
        flex-direction: column;
    }

    .info_movile{
        display: none;
    }


    .nested_field {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .sub-field {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;
        border: 1px solid black;
    }

    

    .clasification {
        font-size: 10px;
        color: rgb(139, 139, 139);
    }

    input,
    select {
        width: 200px;
        height: 100%;
        text-align: center;
        border: none;
        background: none;

    }

    .input{

    }

    .sub-input{

    }



    /* tabla bobinos */

    [categoria="Porcentaje de estiercol"][tabla=caprinos] {
        height: 120px;
    }

    /*tabla bobinos carne*/
    [categoria="Porcentaje de estiercol"][tabla="bovinos de carne"]{
        height: 310px;
    }

    [categoria="Porcentaje de estiercol tratado"][tabla="bovinos de carne"]{
        height: 125px;
    }


    label {
        display: none;
    }
}





@media only screen and (max-width: 799px) {
    .tabla {
        border: 2px solid black;
    }

    .titulo_tabla {
        padding: 20px 0;
        border: 1px solid black;
        text-align: center;
    }

    .contenido_tabla {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }

    /* .column {
        width: 100%;
        display: grid;
        grid-template-rows: 50px repeat(auto-fit, 90px);
        border: 1px solid red;
    } */

    .column {
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
    }

    .column>strong {
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: rgb(189, 189, 189);
    }

    .field_inputs {
        height: 100%;
        display: flex;
        flex-direction: column;
        
    }



    .info,
    .field,
    strong {
        display: flex;
        height: 120px;
        width: 100%;
        border: 1px solid rgb(85, 85, 85);
        align-items: center;
    }

    .field{
        flex-direction: column;
    }

    .info_movile{
        color: rgb(113, 113, 113);
        width: 100%;
        text-align: center;
        background-color: rgb(224, 223, 223);
    }




    .nested_field {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .sub-field {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-direction: column;
        border: 1px solid rgb(85, 85, 85);
    }


    .clasification {
        font-size: 10px;
        color: rgb(139, 139, 139);
    }

    input,
    select {
        width: 100%;
        height: 100%;
        text-align: center;
        border: none;
        background: none;

    }



    /* tabla bobinos */

    [categoria="Porcentaje de estiercol"] {
        height: 150px;
    }
    [informativo="si"] {
        display: none;
    }


    label {
        display: none;
    }
}